@model SistemaGCS.Models.Version_ECS
@{
    ViewBag.Title = "Agregar";
    List<SistemaGCS.Models.Elemento_Configuracion> tipoec = ViewBag.Ec;
    List<SistemaGCS.Models.Miembro_Proyecto> tipom = ViewBag.tipomiembro;


    
}

<h2>Agregar / Modificar</h2>

<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Version_ECS/Index">Version ECS</a></li>
        <li class="breadcrumb-item active">@(Model.Id_version > 0 ? Model.Version +"," + Model.Descripcion : "Nuevo Registro")</li>
    </ol>
</nav>

@using (Html.BeginForm("Guardar", "Version_ECS", FormMethod.Post, new { id = "frm-categoria" }))
{
    @Html.HiddenFor(x => x.Id_version)
    <div class="card">
        <div class="card-header">Informacion del Usuario</div>
        <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(x => x.Id_elementoconfiguracion)
                <select name="Id_elementoconfiguracion" class="form-control">
                    <option @(Model.Id_elementoconfiguracion.Equals("") ? "selected" : "") value="">--Seleccione--</option>
                    @foreach (var t in tipoec)
                    {
                        <option @(Model.Id_elementoconfiguracion.Equals(t.Id_elementoconfiguracion) ? "selected" : "")
                                value="@t.Id_elementoconfiguracion">
                            @t.Nombre
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.Id_elementoconfiguracion, null, new { @class = "label label-danger" })
            </div>







            <div class="form-group">
                @Html.LabelFor(x => x.Version)
                @Html.TextBoxFor(x => x.Version, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Version, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.FechaInicio)
                @Html.TextBoxFor(x => x.FechaInicio, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FechaInicio, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.FechaTermino)
                @Html.TextBoxFor(x => x.FechaTermino, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FechaTermino, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Descripcion)
                @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.URL)
                @Html.TextBoxFor(x => x.URL, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.URL, null, new { @class = "label label-danger" })
            </div>



            <div class="form-group">
                @Html.LabelFor(x => x.Id_miembro)
                <select name="Id_miembro" class="form-control">
                    <option @(Model.Id_miembro.Equals("") ? "selected" : "") value="">--Seleccione--</option>
                    @foreach (var t in tipom)
                    {
                        <option @(Model.Id_miembro.Equals(t.Id_miembro) ? "selected" : "")
                                value="@t.Id_miembro">
                            @t.Id_miembro
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.Id_miembro, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Avance)
                @Html.TextBoxFor(x => x.Avance, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Avance, null, new { @class = "label label-danger" })
            </div>



        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="~/Miembro_Proyecto" class="btn btn-danger">Cancelar</a>
        </div>
        <br /><br /><br />


    </div>
}

