@model List<SistemaGCS.Models.Version_ECS>
@{
    ViewBag.Title = "Index";
}

<h2>Listado de Version de Elementos de Configuracion</h2>
<h2 class="pagegeader">
    <a href="~/VersionECS/Agregar" class="btn btn-info text-right">Nuevo Registro</a>

</h2>
<br />
<br />
@using (Html.BeginForm("Index", "VersionECS", FormMethod.Post))
{

}

<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Id Elemento Configuracion</th>
            <th>Version</th>
            <th>Fecha Inicio</th>
            <th>Fecha Termino</th>
            <th>Id Miembro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@(m.Id_version)</td>
                <td>@(m.Elemento_Configuracion.Id_elementoconfiguracion)</td>
                <td>@(m.Version)</td>
                <td>@(m.FechaInicio)</td>
                <td>@(m.FechaTermino)</td>
                <td>@(m.Miembro_Proyecto.Id_miembro)</td>



                <td>
                    <a href="~/VersionECS/Agregar/@m.Id_version" class="btn btn-success">EDITAR</a>
                    <a onclick="return confirm('Esta Seguro que desea eliminar el registro?')" href="~/VersionECS/Eliminar/@m.Id_version" class="btn btn-danger">ELIMINAR</a>
                </td>
            </tr>
        }
    </tbody>
</table>

